.property-1default-item {
  position: absolute;
  height: 72.93%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 27.07%;
  left: 0;
  border-radius: var(--br-20xl);
  background-color: var(--color-darkkhaki);
}
.vector-icon4 {
  position: absolute;
  height: 10.9%;
  width: 7.62%;
  top: 46.62%;
  right: 73.21%;
  bottom: 42.48%;
  left: 19.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-431,
.property-1default1 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 433px;
  height: 266px;
}
.component-431 {
  top: -103px;
  left: -22px;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  width: 473px;
  height: 319px;
  overflow: hidden;
}
.ai-assistant {
  position: absolute;
  top: 43px;
  left: 136px;
  display: inline-block;
  width: 143px;
  height: 27px;
}
.back-icon {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 34px;
  height: 34px;
  object-fit: cover;
}
.component-39-icon,
.vector-icon5 {
  position: absolute;
  top: 860px;
  left: 0;
  width: 430px;
  height: 72px;
}
.vector-icon5 {
  height: 3.11%;
  width: 7.67%;
  top: 24.89%;
  right: 86.51%;
  bottom: 72%;
  left: 5.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.camera-icon,
.microphone-icon,
.picture-icon {
  position: absolute;
  top: 877px;
  left: 14px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.camera-icon,
.picture-icon {
  top: 875px;
  left: 349px;
  width: 24px;
  height: 24px;
}
.camera-icon {
  left: 391px;
  width: 25px;
  height: 25px;
}
.chatgpt-help {
  width: 100%;
  position: relative;
  background-color: var(--color-white1);
  height: 932px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-black1);
  font-family: var(--font-inter);
}
