.component-child,
.component-item {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.component-child {
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-white1);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.component-item {
  height: 0.64%;
  top: 75.53%;
  bottom: 23.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.pampers-diapers {
  position: absolute;
  height: 8.51%;
  width: 69.87%;
  top: 86.17%;
  left: 8.97%;
  letter-spacing: -0.02em;
  font-weight: 300;
  display: flex;
  align-items: flex-end;
}
.group-child,
.group-item {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.group-child {
  width: 69.14%;
  right: 30.86%;
  left: 0;
  background-color: var(--color-mediumslateblue);
}
.group-item {
  width: 20.86%;
  right: 10%;
  left: 69.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.off {
  position: absolute;
  top: 2.5px;
  left: 2.3px;
  letter-spacing: -0.02em;
  display: flex;
  align-items: flex-end;
  width: 32.7px;
  height: 8.8px;
}
.rectangle-parent {
  position: absolute;
  height: 7.98%;
  width: 22.44%;
  top: 78.19%;
  right: 68.59%;
  bottom: 13.83%;
  left: 8.97%;
  font-size: var(--font-size-7xs);
  color: var(--color-white1);
}
.component,
.image-17-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.image-17-icon {
  height: 63.3%;
  width: 76.92%;
  top: 10.11%;
  right: 11.54%;
  bottom: 26.6%;
  left: 11.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-40 {
  position: absolute;
  top: 213px;
  left: 44px;
  width: 156px;
  height: 188px;
  cursor: pointer;
}
.see-all {
  position: absolute;
  top: 46px;
  left: 347px;
  font-size: var(--bodytext-b2-regular-size);
  text-decoration: underline;
  letter-spacing: -0.02em;
  display: flex;
  align-items: flex-end;
  width: 59px;
  height: 17px;
}
.div,
.div1,
.div2,
.div3 {
  position: absolute;
  top: 169px;
  left: 320px;
  font-size: var(--caption-c2-regular-size);
  letter-spacing: 0.02em;
  line-height: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 8px;
}
.div1,
.div2,
.div3 {
  left: 249px;
}
.div2,
.div3 {
  top: 165px;
  left: 167px;
  width: 33px;
  height: 16px;
}
.div3 {
  left: 92px;
}
.deal-child,
.deal-inner,
.deal-item,
.ellipse-div {
  position: absolute;
  top: 144px;
  left: 327px;
  border-radius: 50%;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 8px;
  height: 8px;
}
.deal-inner,
.deal-item,
.ellipse-div {
  left: 255px;
}
.deal-inner,
.ellipse-div {
  left: 180px;
}
.ellipse-div {
  left: 106px;
  background-color: var(--color-black);
}
.line-icon {
  position: absolute;
  top: 148px;
  left: 48px;
  width: 334px;
  height: 0.1px;
  object-fit: contain;
}
.div4,
.div5 {
  position: absolute;
  font-size: var(--font-size-7xl);
  font-family: var(--font-inter);
}
.div4 {
  top: 97px;
  left: 44px;
  display: inline-block;
  width: 34px;
  height: 32px;
}
.div5 {
  top: 99px;
  left: 82px;
}
.image-17-icon1 {
  position: absolute;
  height: 63.3%;
  width: 76.92%;
  top: 10.11%;
  right: 11.54%;
  bottom: 26.6%;
  left: 11.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.component-401 {
  position: absolute;
  top: 213px;
  left: 229px;
  width: 156px;
  height: 188px;
  cursor: pointer;
}
.component-402,
.component-403,
.component-41,
.component-42 {
  position: absolute;
  top: 427px;
  left: 44px;
  width: 156px;
  height: 188px;
  cursor: pointer;
}
.component-403,
.component-41,
.component-42 {
  top: 642px;
}
.component-403,
.component-42 {
  top: 428px;
  left: 229px;
}
.component-42 {
  top: 643px;
}
.image-15-icon {
  position: absolute;
  top: 232px;
  left: 248px;
  width: 119px;
  height: 119px;
  object-fit: cover;
}
.image-11-icon,
.image-14-icon,
.image-16-icon {
  position: absolute;
  top: 440px;
  left: 67px;
  width: 123px;
  height: 123px;
  object-fit: cover;
}
.image-11-icon,
.image-16-icon {
  top: 453px;
  left: 259px;
  width: 100px;
  height: 96px;
}
.image-11-icon {
  top: 651px;
  left: 64px;
  width: 121px;
  height: 121px;
}
.icon-change-me {
  position: absolute;
  height: 42.86%;
  width: 50%;
  top: 14.29%;
  right: 25%;
  bottom: 42.86%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.tab-label {
  position: absolute;
  height: 21.43%;
  top: 64.29%;
  left: calc(50% - 24px);
  letter-spacing: 0.02em;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
}
.atombottomnavitem {
  width: 48px;
  position: relative;
  height: 56px;
  color: #1e1e1e;
}
.icon-change-me1 {
  position: absolute;
  height: 42.86%;
  width: 50%;
  top: 14.29%;
  right: 25%;
  bottom: 42.86%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.atombottomnavitem1 {
  width: 48px;
  position: relative;
  height: 56px;
}
.tab-label2 {
  position: absolute;
  height: 21.43%;
  top: 60.71%;
  left: calc(50% - 24px);
  letter-spacing: 0.02em;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
}
.atombottomnavitem-child {
  position: absolute;
  height: 3.57%;
  width: 100%;
  top: 96.43%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
}
.atombottomnavitem2 {
  width: 48px;
  position: relative;
  height: 56px;
  color: var(--color-black);
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white1);
  width: 432px;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-9xs) var(--padding-base) 0;
  box-sizing: border-box;
}
.iconfillplus-circle {
  position: absolute;
  top: 18px;
  left: 204px;
  width: 24px;
  height: 24px;
}
.bottomnav,
.deal {
  background-color: var(--color-white1);
  overflow: hidden;
}
.bottomnav {
  position: absolute;
  top: calc(50% + 394px);
  left: calc(50% - 215px);
  box-shadow: 0 4px 20.6px 2px rgba(0, 0, 0, 0.25);
  width: 430px;
  height: 72px;
  text-align: center;
  font-size: var(--caption-c2-regular-size);
  color: var(--color-default);
}
.deal {
  width: 100%;
  position: relative;
  height: 932px;
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--color-black);
  font-family: var(--caption-c2-regular);
}
