.image-17 {
  width: 100%;
  position: relative;
  height: 106px;
  background-image: url(./public/image-171@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
