.vector-icon6 {
  position: absolute;
  height: 75%;
  width: 75%;
  top: -629.17%;
  right: 225%;
  bottom: 654.17%;
  left: -200%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tune-fill0-wght400-grad0-opsz2 {
  width: 100%;
  position: relative;
  height: 24px;
  overflow: hidden;
}
